<%- include('../header'); -%>

<p>Bienvenue ADMIN !</p>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Produits
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/admin/ajout_produit">Ajouter un produit</a></li>
      <li><a class="dropdown-item" href="#">Modifier un produit</a></li>
      <li><a class="dropdown-item" href="#">...</a></li>
    </ul>
  </div>

<%- include('../footer'); -%>
    
