*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 216, 195);
}

h1{
    color: rgb(231, 139, 139);
    margin-top: 5%;
    margin-left: 45%;
}

.card{
    background-color: rgb(238, 185, 185);
    margin-top: 4%;
    margin-left: 25%;
    width: 50%;
    height: max-content;

}

.mb-1{
    margin-left: 35%;
}
form{
    margin: 2%;
}
.form-control{
    width: 50%;
}

form div{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

form .btn {

    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
}

.prop_insc{
    margin-left: 38%;
}