<% console.log("Connection page called") %>
<%- include('../header'); -%>
<link rel="stylesheet" href="../css/authentification/connexion.css">

<h1>Connexion</h1>

<div class="card">

<form action="/log/login" method="post">

    <div class="mb-1">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email"  aria-describedby="emailHelp">
    </div>

    <div class="mb-1">
      <label for="mdp" class="form-label">Password</label>
      <input type="password" class="form-control" id="mdp" name="mdp">
    </div>

    <button type="submit" class="btn btn-primary">Se connecter</button>

</form>
<p class="prop_insc">Pas encore de compte ? <a href="/log/inscription"> Inscrivez-vous </a>!</p>
</div>

<%- include('../footer'); -%>
    
